{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">Über</h5>
    <div class="card-body">
      <p class="card-text"> Dies ist ein <b>Demo-Blog</b> des <a href="https://arion2000.xyz">a2data-Teams</a> - Schön, dass du hier vorbeischaust!</p>
      <a href="https://arion2000.xyz" class="btn btn-danger">Zur Hauptwebseite</a>
      <a href="https://arion2000.tawk.help" class="btn btn-secondary">Hilfe</a>
    </div>
  </div>
</div>

{% endblock sidebar %}